@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Urbanist", serif;
    
}

:root {
    --primary-color: #ACE2E4;
    --darkshadesofprimarycolor: #89b4b6;
    --secondary-bg: #eef9f9;
    --primary-text-color: #2E4985;
    --secondary-text-color: #707278;
    --darkprimary-text-color: #20335d;
    --additionalcolor: #e2e4ac;
    --heading-h1-font-size: 2.75rem;
    --heading-h2-font-size: 2rem;
    --heading-h3-font-size: 1.5rem;
    --heading-h4-font-size: 1.125rem;
    --heading-h5-font-size: 1rem;
}

.Navbar{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.custom-navbar{
    background-color: var(--primary-color); /* Navbar background */
    transition: background-color 0.3s ease; /* Smooth transition on scroll */
}

.navbar .sitelogo {
    color: var(--primary-text-color);
    text-decoration: none;
    font-size: var(--heading-h2-font-size);
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: none;
}

.navbar-nav .nav-link {
    color: var(--primary-text-color) !important;
    font-size: var(--heading-h4-font-size);
}

.navbar-nav .nav-link:hover {
    text-decoration: underline;
}
.assesment{
    background-color: var(--primary-text-color);
    width: 10vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1% 0;
    border-radius: 25px;
    
}
.assesment a{
    text-decoration: none;
    color: var(--secondary-bg);
}
.assesment a:hover{
    text-decoration: none;
    color: var(--secondary-bg);
}
.assesment:hover{
    background-color: var(--darkprimary-text-color);
    text-decoration: none;
}

@media (max-width:1300px){
    .assesment{
        width:12vw;
    }
}
@media (max-width: 1000px) {
    .navbar .sitelogo {
        font-size: 1.5rem;
    }
    
    .navbar-nav .nav-link {
        font-size: 1rem;
        padding: 10px;
    }
    .assesment{
        width: 50%;
        padding: auto;
    }
}

@media (max-width: 400px) {
    .navbar .sitelogo {
        font-size: 1.25rem;
    }

    .navbar-nav {
        flex-direction: column;
    }

    .navbar-nav .nav-link {
        font-size: 0.875rem;
        padding: 8px 0;
    }
    .assesment{
        width: 90%;
        padding: auto;
    }
    
}